body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
 
header{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
 
nav{
    background-color: #444;
}
 
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}
 
nav ul li{
    margin: 0 15px;
}
 
nav ul li a{
    color: white;
    text-decoration: none;
}
 
main{
    padding: 30px;
}
 
section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
 
.gabriel{
    border-left: 5px solid #3498db;
}
 
.amigo{
    border-left: 5px solid #2ecc71;
}
 
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0%;
} 